.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.name{
  text-align: center;
  display: inline-block;
  padding: 5%;
}
.input{
  padding: 2%;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
}
.button {
  padding: 1%;
  border: none;
  background-color: #c70000;
  border-radius: 12px;
  font-size: 1rem;
  color: white;
}
.button:hover {
  background-color: #611b1b;
  color: white;
}
body {
  background-color: #393E46;
}
h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #c70000;
}
p {
  font-size: 2rem;
  color: #FF0000;
  font-family: 'Indie Flower', cursive;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
